//======== Variables ==============
$white: #F5F8FF;
$fontColor: #777;
$orange:#e8650f;
$direction: rtl;
$floatLeft: left;
$floatRight: right;
$image: url('images/blockbg.png');

@if $direction == ltr {
    $floatLeft: left;
    $floatRight: right;
} @else {
    $floatLeft: right;
    $floatRight: left;
}
//======== Styling ================
body{
    color: $fontColor;
}
ul{
    padding: 0px;
}

.navbar-default{
    background-color: transparent;
    border: 0px;
}

#menu {
    margin-top:15px;
    a{
        font-weight: 600;
    }
    a:hover{
        color:$orange;
    }
}

.coverphoto {
    background-repeat:no-repeat;
    background-position:center;
    background-size:cover;
    height:700px;
    margin-top:-20px;
    align-items: center;
    .cover-block {
        padding-top: 350px;
    }
    img {
        margin:10px;
    }
}

.leftMenu{
    img {
        width: 20px;
    }
    .social{
        padding-right:3px;
        padding-left:3px;
    }
}
.itemsList {
    a{
        cursor: pointer;
    }
    .thumbnail:hover{
        box-shadow: 1px 1px 20px #e8650f;
    }
    .thumbnail .caption{
        color:$fontColor;
    }
    span{
        float: $floatRight;
    }
}


.howTo, .itemsList, .bestApp, .new, .footer, .itemIntro, .fullDescription, .summary, .itemDetails {
    ul{
        list-style: none;
    }
    ul li{
        float: $floatLeft;
    }
}

.new {
    padding: 20px;
    background: linear-gradient(to bottom, #e4e2df,#e4e2df);
    color: $fontColor;
    font-size: 17px;
    p{
        line-height:25px;
    }
    img {
        width: 100%;
        height: 300px;
    }
}
.orangebtn {
    background-color:$orange;
    color:$white;
    border-radius: 20px;
    font-weight: 300;
}
.orangebtn:hover{
    background-color: transparent;
    color: $orange;
    font-weight: bold;
    border: 1px solid $orange;
}
.footer{
    background-color: $orange;
    color: #fff;
    padding: 20px;
    a{
        color: $white;
    }
    img{
        padding: 35px 0px;
        width: 100%;
    }
    td{
        padding-left:40px;
        padding-bottom:10px; 
    }
    .socialButtons img{
        margin: 7px 5px 7px 0px;
    }
}
.socialButtons {
    ul li{
        margin: 0px 5px;
    }
}
.itemDetails{
    border: 1px dotted $orange;
    background-color: #f3f2f2;
    a {
        cursor: pointer;
        color: #777;
    }
    a:hover{
        color: $orange;
    }
    i {
        margin-top: 25px;
    }
}
.button {
    margin-top: 20px;
}
.image{
    margin-top: 20px;
}
.bestApp{
    .stars{
        padding:15px 0px;
    }
}
.fullDescription{
    p{
        line-height:25px;
    }
}
.summary {
    h3{
        margin-bottom: 5px;
        margin-top: 0px;
    }
    small{
        display: block;
        margin-bottom: 25px;
    }
    .info{
        border-#{$floatLeft}:1px dotted graytext;
        margin: 15px 0px;
    }
    label{
        float: $floatLeft;
    }
    input{
        float: $floatRight;
    }
    .reqstar{
        color: $orange;
    }
}
//======== Classes to Extend ========

