body {
  color: #777;
  font-family: HelveticaNeue-Light, Arial; }

ul {
  padding: 0px; }

.navbar-default {
  background-color: transparent;
  border: 0px; }

#menu {
  margin-top: 15px; }
  #menu a {
    font-weight: 500; }
  #menu a:hover {
    color: #e8650f; }

.rightMenu img {
  width: 20px; }
.rightMenu .social {
  padding-right: 3px;
  padding-left: 3px; }

.coverphoto {
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  height: 700px;
  margin-top: -20px;
  align-items: center; }
  .coverphoto .cover-block {
    padding-top: 250px; }
  .coverphoto img {
    margin: 10px; }

.itemsList a {
  cursor: pointer; }
.itemsList h3 {
  margin: 30px 0px; }
.itemsList .thumbnail:hover {
  box-shadow: 1px 1px 20px #e8650f; }
.itemsList .thumbnail .caption {
  color: #777; }

.products a {
  cursor: pointer; }
.products h3 {
  margin: 30px 0px; }
.products .thumbnail {
  border: 2px solid #bbb7b7;
  cursor: pointer; }
.products .thumbnail:hover {
  box-shadow: 1px 1px 20px #e8650f; }
.products .thumbnail .caption {
  color: #777; }
.products span {
  float: right; }
.products .thumbnail img {
  margin-top: -35px;
  width: 100%; }

.howTo ul, .itemsList ul, .products ul, .bestApp ul, .new ul, .footer ul, .itemIntro ul, .fullDescription ul, .summary ul, .itemReview ul {
  list-style: none; }
.howTo ul li, .itemsList ul li, .products ul li, .bestApp ul li, .new ul li, .footer ul li, .itemIntro ul li, .fullDescription ul li, .summary ul li, .itemReview ul li {
  float: left; }

.new {
  padding: 25px;
  background-color: #FFFEF9;
  color: #777;
  font-size: 17px;
  background: url(../images/girls.jpg) no-repeat center center;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover; }
  .new p {
    line-height: 25px; }
  .new img {
    width: 100%;
    height: 300px; }

.howTo h1 {
  margin: 30px 0px; }

.orangebtn {
  background-color: #e8650f;
  color: #F5F8FF;
  border-radius: 20px;
  font-weight: 300;
  margin-top: 20px; }

.orangebtn:hover {
  background-color: transparent;
  color: #e8650f;
  font-weight: bold;
  border: 1px solid #e8650f; }

.clickBtn {
  background-color: #e8650f;
  color: #F5F8FF;
  border-radius: 20px;
  font-weight: 300;
  opacity: 0;
  position: relative;
  top: 130px;
  z-index: 2; }

.clickBtn:hover {
  color: #F5F8FF;
  width: 40%; }

.footer {
  background-color: #e8650f;
  color: #fff;
  padding: 20px; }
  .footer a {
    color: #F5F8FF; }
  .footer img {
    padding: 35px 0px;
    width: 100%; }
  .footer td {
    padding-right: 40px;
    padding-bottom: 10px; }
  .footer .socialButtons img {
    margin: 7px 5px 7px 0px; }

.socialButtons ul li {
  margin: 0px 5px; }

.itemReview {
  display: none;
  border: 1px dotted #e8650f;
  background-color: #f3f2f2; }
  .itemReview a {
    cursor: pointer;
    color: #777; }
  .itemReview a:hover {
    color: #e8650f; }
  .itemReview i {
    margin-top: 25px; }

.banner {
  background-color: #e8650f; }
  .banner h4 {
    color: #F5F8FF;
    padding: 10px 0px;
    margin-top: 0px; }

.itemIntro span {
  float: right; }
.itemIntro h1 {
  margin-top: 0px; }

.itemdetails {
  padding: 50px;
  background-color: #F5F8FF;
  margin-top: 10px; }
  .itemdetails .descText {
    line-height: 1.5; }

.image {
  margin-top: 20px; }

.bestApp .stars {
  padding: 15px 0px; }
.bestApp .samsungImg img {
  width: 150px; }
.bestApp .iphoneImg img {
  width: 143px; }

.fullDescription {
  padding: 25px;
  font-size: 17px; }
  .fullDescription p {
    line-height: 25px; }
  .fullDescription img {
    width: 100%; }

.summary h3 {
  margin-bottom: 5px;
  margin-top: 0px; }
.summary small {
  display: block;
  margin-bottom: 25px; }
.summary .info {
  margin: 15px 0px; }
.summary .reqstar {
  color: #e8650f; }
.summary p {
  font-weight: 500;
  font-size: 15px;
  padding-right: 0px; }
.summary img {
  margin-top: 100px; }

.sizeSelect a {
  color: #e8650f; }
.sizeSelect .bigSize {
  padding: 15px;
  /*        img{
              width: 100%;
          }*/
  /*        div{
              text-align: $floatLeft;
          }*/ }
  .sizeSelect .bigSize span {
    float: right; }
  .sizeSelect .bigSize h3 {
    margin-top: 0px;
    margin-bottom: 10px; }
  .sizeSelect .bigSize h4 {
    margin-bottom: 0px; }
.sizeSelect .mediumSize {
  padding: 15px;
  /*        img{
              width: 100%;
          }*/
  /*        div{
              text-align: $floatLeft;
          }*/ }
  .sizeSelect .mediumSize span {
    float: right; }
  .sizeSelect .mediumSize h3 {
    margin-top: 0px;
    margin-bottom: 10px; }
  .sizeSelect .mediumSize h4 {
    margin-bottom: 0px; }
.sizeSelect .smallSize {
  padding: 15px;
  /*        img{
              width: 100%;
          }*/
  /*        div{
              text-align: $floatLeft;
          }*/ }
  .sizeSelect .smallSize span {
    float: right; }
  .sizeSelect .smallSize h3 {
    margin-top: 0px;
    margin-bottom: 10px; }
  .sizeSelect .smallSize h4 {
    margin-bottom: 0px; }

.slider {
  height: 300px; }
  .slider .carousel-inner {
    height: 300px; }
  .slider .item img {
    height: 300px; }

@media (max-width: 767px) {
  .bigSize {
    border-bottom: 1px solid #e8650f; }

  .mediumSize {
    border-bottom: 1px solid #e8650f; }

  .itemIntro .priceBlock {
    margin-top: 15px; }

  .slider {
    height: 200px; }
    .slider .carousel-inner {
      height: 200px; }
    .slider .item img {
      height: 200px; } }
@media (max-width: 990px) {
  .itemIntro {
    margin-bottom: 25px; }

  .priceBlock {
    margin-top: 25px; }

  .sizeSelect .bigSize img {
    width: 200px; }
  .sizeSelect .mediumSize img {
    width: 200px; }
  .sizeSelect .smallSize img {
    width: 200px; } }
@media (min-width: 767px) {
  .mediumSize {
    border-right: 1px solid #e8650f;
    border-left: 1px solid #e8650f; }

  .fullDescription .descMedImage {
    height: 400px; }

  .itemdetails .descText {
    padding: 0px 100px; } }
.free {
  color: red; }

.border {
  border-right: 1px solid #e8650f;
  border-left: 1px solid #e8650f; }

.rightText {
  float: right; }

/*# sourceMappingURL=style.css.map */
