//======== Variables ==============
$white: #F5F8FF;
$fontColor: #777;
$orange:#e8650f;
$jotolabFont: HelveticaNeue-Light, Arial;
$descriptionPadding:25px;
$media-mobile:767px;
$media-tablet:990px;
$media-laptop:767px;
$direction: ltr;
$floatLeft: left;
$floatRight: right;
$image: url('images/blockbg.png');

@if $direction == ltr {
    $floatLeft: left;
    $floatRight: right;
} @else {
    $floatLeft: right;
    $floatRight: left;
}
//======== Styling ================
body{
    color: $fontColor;
    font-family: $jotolabFont;
}
ul{
    padding: 0px;
}


.navbar-default{
    background-color: transparent;
    border: 0px;
}

#menu {
    margin-top:15px;
    a{
        font-weight: 500;
    }
    a:hover{
        color:$orange;
    }
}

.rightMenu {
    img {
        width: 20px;
    }
    .social{
        padding-right:3px;
        padding-left:3px;
    }
}
.coverphoto {
    background-repeat:no-repeat;
    background-position:center;
    background-size:cover;
    height:700px;
    margin-top:-20px;
    align-items: center;
    .cover-block {
        padding-top: 350px;
    }
    img {
        margin:10px;
    }
}
.itemsList {
    a{
        cursor: pointer;
    }
    .thumbnail:hover{
        box-shadow: 1px 1px 20px #e8650f;
    }
    .thumbnail .caption{
        color:$fontColor;
    }
    span{
        @extend .free;
    }
}


.howTo, .itemsList, .bestApp, .new, .footer, .itemIntro, .fullDescription, .summary, .itemDetails {
    ul{
        list-style: none;
    }
    ul li{
        float: $floatLeft;
    }
}

.new {
    padding: $descriptionPadding;
    background: linear-gradient(to bottom, #e4e2df,#e4e2df);
    color: $fontColor;
    font-size: 17px;
    p{
        line-height:25px;
    }
    img {
        width: 100%;
        height: 300px;
    }
}
.orangebtn {
    background-color:$orange;
    color:$white;
    border-radius: 20px;
    font-weight: 300;
    margin-top: 20px; 
}
.orangebtn:hover{
    background-color: transparent;
    color: $orange;
    font-weight: bold;
    border: 1px solid $orange;
}
.footer{
    background-color: $orange;
    color: #fff;
    padding: 20px;
    a{
        color: $white;
    }
    img{
        padding: 35px 0px;
        width: 100%;
    }
    td{
        padding-right:40px;
        padding-bottom:10px; 
    }
    .socialButtons img{
        margin: 7px 5px 7px 0px;
    }
}
.socialButtons {
    ul li{
        margin: 0px 5px;
    }
}
.itemDetails{
    border: 1px dotted $orange;
    background-color: #f3f2f2;
    a {
        cursor: pointer;
        color: #777;
    }
    a:hover{
        color: $orange;
    }
    i {
        margin-top: 25px;
    }
}

.banner{
    background-color: $orange;
    h3{
        color: $white;
        padding: 15px 0px;
        margin-top: 0px;
    }
}

.itemIntro{
    span{
        float: $floatRight;
    }
    h1{
        margin-top: 0px;
    }
}
.itemdetails{
    padding: 50px;
    background-color:#F5F8FF;
    margin-top: 10px;
}

.image{
    margin-top: 20px;
}
.bestApp{
    .stars{
        padding:15px 0px;
    }
}
.fullDescription{
    p{
        line-height:25px;
    }
    padding: $descriptionPadding;
    font-size: 17px;
}

.summary {
    h3{
        margin-bottom: 5px;
        margin-top: 0px;
    }
    small{
        display: block;
        margin-bottom: 25px;
    }
    .info{
        border-#{$floatLeft}:1px dotted graytext;
        margin: 15px 0px;
    }
    .reqstar{
        color: $orange;
    }
    p{
        font-weight: 500;
        font-size: 15px;  
        padding-#{$floatRight}: 0px;
    }
}

.sizeSelect{
    a{
        color:$orange;
    }
    .bigSize{
        span{
            float: $floatRight;
        }
        div{
            text-align: $floatLeft;
        }
    }
    .mediumSize {
        padding-top: 56px;
        span{
            float: $floatRight;
        }
        div{
            text-align: $floatLeft;
        }
    }
    .smallSize{
        padding-top: 112px;
        span{
            float: $floatRight;
        }
        div{
            text-align: $floatLeft;
        }
    }
    .bigIcon{
        font-size: 16em;
    }
    .mediumIcon {
        font-size: 12em;
    }
    .smallIcon{
        font-size: 8em;
    }
}


//======== @media Screens ===========
@media (max-width:$media-mobile){
    .sizeSelect{
        .mediumSize {
            padding-top: 0px;
        }
        .smallSize{
            padding-top: 0px;
        }
    }
    .bigSize{
        border-bottom:1px solid $orange;
    }
    .mediumSize{
        border-bottom:1px solid $orange;
    }
    .itemIntro{
        .priceBlock{
            margin-top: 15px;
        }
    }
}
@media (min-width:$media-laptop){
     .mediumSize {
        border-right:1px solid $orange;
        border-left:1px solid $orange;
    }
    .slider{
        height: 300px;
    }
}
//======== Classes to Extend ========

.free {
    color: red;
}
.border{
    border-right:1px solid $orange;
    border-left:1px solid $orange;
}
.rightText {
    float: $floatRight;
}